CP001TrainingPackage/IF8002_-FTE_per_office_CALCULATE/src/main/resources/xsd/DT_FTE_Over_Office.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:element name="root">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FOCostCenter">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="externalCode"/>
										<xs:element type="xs:string" name="TOTAL_FTE"/>										
									</xs:sequence>
								</xs:complexType>
							</xs:element>							
						</xs:sequence>
					</xs:complexType>
				</xs:element>
</xs:schema>