CP001TrainingPackage/IF8002_-FTE_per_office_CALCULATE/src/main/resources/xsd/SimpleTable (1).xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="errorMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="From"/>
        <xs:element type="xs:string" name="To"/>
        <xs:element type="xs:string" name="subject"/>
        <xs:element type="xs:string" name="headercontent"/>
        <xs:element name="table">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tr" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="td" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>